[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "==2.2.9"

[dev-packages]

[requires]
python_version = "3.8"

[packages.python-sbr]
git = "https://github.com/JeMorriso/PySBR.git"
editable = true
